# Maven
target/

# Java
*.class

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Secrets
src/main/resources/application.properties

# Logs
*.log